<section class="header" id="navbar">        
    <div class="navbar-container">
        <div class="logo">
            <h1>MindCure</h1>
        </div>
        <ul class="nav-links">
            <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a href="#how-it-works" routerLinkActive="active-link">How it works</a></li>
            <li><a href="#services" routerLinkActive="active-link">Services</a></li>
            <li><a routerLink="about" routerLinkActive="active-link">About</a></li>
            <li><a routerLink="feedback" routerLinkActive="active-link">Feedback</a></li>
        </ul>
        <div class="menu-icon" id="menu">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    <div class="mobile-nav">
        <ul class="nav-links">
            <li><a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a href="#how-it-works" routerLinkActive="active-link">How it works</a></li>
            <li><a href="#services" routerLinkActive="active-link">Services</a></li>
            <li><a routerLink="about" routerLinkActive="active-link">About</a></li>
            <li><a routerLink="feedback" routerLinkActive="active-link">Feedback</a></li>
        </ul>
    </div>
</section>

