<section class="about-container">
    <h1>About Us</h1>
    <section class="about">
        <div class="about-heading">
            <p>Get Connected with the Best Online Psychologist and Counsellor.</p>
            <p>Most Trusted and Safe Online Counselling and Therapy Platform in India</p>
        </div>
    

    </section>
    <section class="mission">
        <h1>Our mission</h1>
        <p>
            Connecting the Best Trained and Certified Psychologist with the People who are seeking emotional and mental wellness support. Giving them the Quality and the Most affordable counselling and therapy services in the World. Our objective is to help clients gain insight into their problems along with creating a scope of improvement in life. We work with an idea that there must be an exchange where the individual express themselves in a non-judgmental atmosphere, explore their needs and solutions to their difficulties. We understand your problems and accept the way you are. So, no mental tags are given here.</p>
    </section>

    <section class="mission">
        <h1>Our Vision</h1>
        <p>
            
            We envision to help our clients develop a better understanding of self along with becoming capable of creating what they want in life. We help you to accept, know and grow in life. We connect you with trained and certified professionals who help you acquire skills and techniques enabling you to lead a happier, more fulfilling and meaningful life. 
            Long Term Vision is to create the best online therapy and counselling platform in the world where everyone is getting the services they deserve. Breaking the Stigmas related to mental and emotional health in India and globally.</p>
    </section>




    
</section>