<section class="footer">
    <div class="social">
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-facebook-f"></i></a>
        <a><i class="fab fa-whatsapp"></i></a>
        <a><i class="fab fa-twitter"></i></a>
    </div>
    <ul class="foot-links">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="terms">Terms</a></li>
        <li><a routerLink="privacy-policy">Privacy Policy</a></li>
    </ul>
    <p class="copyright">
        Copyright @ 2022 MindCure. All Rights Reserved.
    </p>
</section>