<section class="page">
    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Anxiety Disorders Counselling</h1><br>
            <h2>Don't suffer, conquer anxiety with us!</h2><br>
            <p>Anxiety is the reaction to stress that you face every day. It is the feeling of facing intense fear or
                worry. For example the feeling before going for an interview. Facing anxiety is very normal but if it
                becomes frequent and starts affecting your physical health and day-to-day activities then it is worth
                considering.But what are the causes of anxiety? Let's look at</p><br>
            <h2>Causes of Anxiety</h2><br>
            <ul>
                <li>Environmental factors</li>
                <li>Genetic factors</li>
                <li>Medical factors</li>
                <li>Brain Chemistry</li>
                <li>Stressors, etc.</li>
            </ul>
            <p>Anxiety is a normal reaction and everyone faces it. Moreover, it can develop into certain phobias, panic
                attacks, chronic illness, social withdrawal, avoiding certain situations, and many more. Anxiety is not
                difficult to recognize however many times anxiety is not so serious. Let's now learn about different
                signs of anxiety.
            </p><br>
            <h2>Signs of Anxiety</h2><br>
            <p>Anxiety can be recognized easily. If the signs are not recognized and left ignored it can lead to severe
                issues like chronic illness, anxiety attacks, deteriorating mental and physical health, and many more.
                The symptoms usually develop slowly and later take the form of a bigger issue. Here are some of the
                signs of anxiety -
            </p>
            <ul>
                <li>We may encounter panic attacks.</li>
                <li>An increase in a heartbeat is another symptom.</li>
                <li>Hesitating in joining social gatherings.</li>
                <li>Feeling of intense fear.</li>
                <li>Always in stress and overthinking.</li>
                <li>Focusing on unimportant matters and worrying over them.</li>
            </ul><br>
            <h2>Do you have the above-mentioned Signs?</h2><br>
            <p>Choose Online Therapy for Anxiety Now!</p>
        </div>
    </main>


    <div class="heading">
        <h1>Watch online videos about Anxiety Counselling.</h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/W3hMmZQAdhw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/ZT5-TNqUg-w"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/WWloIAQpMcQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/jczbnCvJHu4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/WCsvSpup88Q"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/eAK14VoY7C0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>