<section class="page">

    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Grief Counselling</h1><br>
            <p>Hope remains, no matter the extent of complicated grief. Though overwhelming for the moment, the pain gradually reduces. Sadness essentially stems from loss, like a bereavement. The result encompasses deep sorrow accompanied by guilt and anger, negative feelings, and emotions. The depth of the grief differs and may be connected with customs and traditions and relationships. How to adjust to the changed circumstances is the challenge. Rituals often fill the void, and institutional support reduces the intensity. For those who really need further assistance, what is grief counseling?</p><br>
            <p>We at this website, work to assist people to cope up with grief following the death of loved ones or an incident of losing something like a precious relationship or a job. Such incidents trigger feelings of extreme disappointment in the brain and hearts of people who go through the same.
            </p><br>
            <p>Grief Counsellors understand that there is a wide range of feelings associated with grief and people express grief differently. While some can’t stop weeping after such incidents, others may just laugh strangely. Moreover, it is quite common for people suffering from grief, to withdraw from their social life like family, friends, and daily routine. This is where we come to give our non-judgemental and unconditional support to make such people come out of the grief and to restart their normal life once again. So, after understanding What is Grief Counselling, take a look at Why Grief Counselling.</p><br>
            <h2>The grief may be attributed to several factors like:</h2><br>
            <ul>
                <li>Death of a person close to your heart</li>
                <li>Job Loss</li>
                <li>Retirement</li>
                <li>Financial instability</li>
                <li>A break-up</li>
                <li>Death of a Pet</li>
                <li>Serious illness of a loved one</li>
            </ul><br>
            <h2>The symptoms observed in such a person's behavior generally include the following:</h2><br>
            <ul>
                <li>Extreme sadness</li>
                <li>Constant mourning</li>
                <li>Anger</li>
                <li>Bitterness</li>
                <li>Avoidance or cut-off from social life</li>
                <li>Feeling of emptiness</li>
                <li>Taking Life as meaningless</li>
            </ul><br>
            <p>This all makes grief a complicated issue and watching online videos about grief counselling can help in making one return to their normal life.</p>
        </div>
    </main>

<div class="heading">
    <h1>Watch online videos about Grief Counselling</h1>
</div>
<div class="card-container">
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/nmtzEFRwYXU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/v_2QeHCnYzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/2mTV5UgE9rA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/rT0XtbxwpME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/x1xVwn04dkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/khkJkR-ipfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>