<section class="page">

    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Anger Management</h1><br>
            <p>Don't let your anger ruin your life, take anger management counselling!</p><br>
            <h2>What is Anger and anger management ?</h2><br>
            <p>Anger is an emotion. It is a state where you feel intense rage and irritability. Anger is just like
                happiness or sadness but excessive anger can affect you badly and harm your relationship with others and
                even your career. It is normal to feel angry and it is positive that you feel angry. It indicates your
                normal growth but too much anger can hamper your health. There can be innumerable causes of getting
                angry. You might get angry when you have to wait in line. You might get angry if someone doesn't follow
                your words and many more. Each day there are many reasons which can make you go mad at others. But if
                you get angry over little things then it is something you should take seriously. Anger management is
                very necessary to keep your anger at bay. There are many ways by which you can keep your anger at the
                edge. However, you can even go for anger management counselling to handle and deal with your anger.
            </p><br>
            <h2>Can online counseling help you deal with anger? Do you need counselling sessions to manage your anger?
            </h2><br>
            <p>We have already stated above how anger can ruin everything including your life and the people around you.
                If you have tried the techniques to cope with your anger but still you're unable to manage it then it is
                the time you must seek the help of a counsellor. With the help of online counselling sessions, you can
                easily manage your anger and keep it at bay. Online therapy has become one of the effective ways with
                the help of which you can cope with your anger and gradually become more calm and patient.
                Online counselling is no less than walk-in counselling sessions and it is made sure that the identity of
                the person taking counselling is kept anonymous. Further, you can take counselling sessions according to
                your comfortability and contact your therapist either by call, message, or video call. You can attend it
                from any place where you feel safe and secure. You can google a therapist near me to look for online
                counselling sessions.
            </p>
        </div>
    </main>

    <div class="heading">
        <h1>Watch online videos about Anger Management </h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/zpDS3ET2A3w?start=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/laRWVbeS6OE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/BsVq5R_F6RA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/KH3PHGjpo5Y?start=5"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/fgkqLWg2B9o?start=2"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/C1N4f1F0vDU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>