<section class="page">

    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Depression Management counselling</h1><br>
            <p>Depression is a common disorder or illness in the human body that affects the feelings, behavior, and act
                of doing the work of a particular person. In simpler terms, depression is a major depressive disorder
                that not only slowdowns the functioning of the human brain but also changes the physical condition of a
                human being.</p><br>
            <h2>Overview:</h2><br>
            <p>Depression is a neutral illness that can occur in both males and females no matter despite considering
                the age factor. Different types of depression have their unique causes to discuss further. In some
                situations, if a depression situation gets worse it can increase the chances of death. Luckily, the
                symptoms of depression can be easily identified such as changes in Psychological, Behavioral, and Social
                factors. These are the most common ways to discover depression in Men, Women, and Children. Now
                Depression can be cured in many ways through Depression counselling, tests, Therapy, etc.
            </p><br>
            <h2>What are the Causes of Depression?</h2><br>
            <p>These are some of the factors by which depression can be traced in teens, men, women:</p>
            <ul>
                <li>Feeling Lonely</li>
                <li>Loss of Interest</li>
                <li>Sleeping Disorders</li>
                <li>Suicidal tendency</li>
                <li>Feeling Guilty</li>
            </ul><br>
            <h2>What are the symptoms of Depression?</h2>
            <p>Depression symptoms can be different for males, females, and children. And all such factors can be
                examined based on Behavioural Signs, Emotional Signs, and Physical Signs.
            </p><br>
            <h3>Behavioural signs:</h3>
            <ol>
                <li>Drinking too much alcohol</li>
                <li>Avoiding family functions most of the time</li>
                <li>Doing work without the interval of proper breaks</li>
                <li>Becoming harsh in relationship</li>
            </ol><br>
            <h3>Emotional Changes:</h3>
            <ol>
                <li>Angriness</li>
                <li>Frustration</li>
                <li>Irritated</li>
                <li>Uncomfortable</li>
            </ol><br>
            <h3>Physical Signs:</h3>
            <ol>
                <li>Headaches</li>
                <li>Digestion problem</li>
                <li>Tiredness</li>
                <li>Sleeping Disorder</li>
                <li>Eating a lot or not</li>
            </ol>
        </div>
    </main>

    <div class="heading">
        <h1>Watch online videos about Depresssion Management </h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/7LD8iC4NqXM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/8aDFvvjC6XM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/TaGGsOoAZd0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/J9LuQV5yC2A"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/yXRfaQAVl4g"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/fCZpUIEUsys"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>