<section class="banner">
    <div class="text">
        <h1>Get Help. Get Better.</h1>
        <h1>You deserve to be happy</h1>
        <h6>No matter what's troubling you, get the support you need.</h6>
        <h6>Right here, right now.</h6>
        <a class="button" href="#benefits">Get Started</a>
    </div>
</section>

<section class="benefits" id="benefits">
    <div class="benefits-heading">
        <h1>Benefits</h1>
        <div class="benefits-underline"></div>
    </div>
    <div class="benefits-card-container">
        <div class="benefits-card">
            <h2>Effective</h2>
        </div>
        <div class="benefits-card">
            <h2>Convenient</h2>
        </div>
        <div class="benefits-card">
            <h2>Secure</h2>
        </div>
        <div class="benefits-card">
            <h2>Affordable</h2>
        </div>
        <div class="benefits-card">
            <h2>Accessibility</h2>
        </div>
        <div class="benefits-card">
            <h2>Dependable</h2>
        </div>
    </div>
</section>

<section class="how-it-works" id="how-it-works">
    <div class="how-it-works-heading">
        <h1>How it works</h1>
        <div class="how-it-works-underline"></div>
    </div>
    <div class="how-it-works-cards-container">
        <div class="how-it-works-cards">
            <div class="circle">
                <h2>01</h2>
            </div>
            <div class="content">
                <h2>Take a<br> Questionnaire</h2>
                <p>Help us through our surveys and research. Answer these few questions.</p>
            </div>
        </div>
        <div class="how-it-works-cards">
            <div class="circle">
                <h2>02</h2>
            </div>
            <div class="content">
                <h2>Choose <br>your Therapy</h2>
                <p>Know what help you need and choose the appropriate one.</p>
            </div>
        </div>
        <div class="how-it-works-cards">
            <div class="circle">
                <h2>03</h2>
            </div>
            <div class="content">
                <h2>Start <br>Therapy</h2>
                <p>Begin the journey towards a happier and healthier you.</p>
            </div>
        </div>
    </div>
</section>

<section class="services" id="services">
    <div class="services-heading">
        <h1>Our Services</h1>
        <div class="services-underline"></div>
    </div>
    <div class="services-cards-container">
        <div class="services-cards">
            <a routerLink="addiction">
                <img src="../../../assets/img/addiction.jpg" alt="Addiction Counselling">
            </a>
            <h2 class="name">Addiction Counselling</h2>
        </div>
        <div class="services-cards">
            <a routerLink="stress">
                <img src="../../../assets/img/stress.jpg" alt="Stress Management">
            </a>
            <h2 class="name">Stress Management</h2>
        </div>
        <div class="services-cards">
            <a routerLink="anxiety">
                <img src="../../../assets/img/anxiety.jpg" alt="Anxiety Counselling">
            </a>
            <h2 class="name">Anxiety Counselling</h2>
        </div>
        <div class="services-cards">
            <a routerLink="grief">
                <img src="../../../assets/img/grief.jpg" alt="Grief Counselling">
            </a>
            <h2 class="name">Grief Counselling</h2>
        </div>
        <div class="services-cards">
            <a routerLink="anger">
                <img src="../../../assets/img/anger.jpg" alt="Anger Management">
            </a>
            <h2 class="name">Anger Management</h2>
        </div>
        <div class="services-cards">
            <a routerLink="depression">
                <img src="../../../assets/img/depression.jpg" alt="Depression Management">
            </a>
            <h2 class="name">Depression Therapy</h2>
        </div>
    </div>
</section>