<section class="page" id="page">
    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Addiction Issues Counselling</h1><br>
            <p>Addictions have become very common in modern society and affect men and women of all ages. Youngsters are
                most at risk with the freedom to experiment. The media brings them information about fashions from
                advanced countries. Youngsters wish to imitate what they see.<br> The influence of media can be very
                harmful. Films, television, and the internet are full of news about addictions. De-addiction therapy is
                the path of breaking the habit with medications and addiction issues counseling. What could be the
                diverse addiction causes?</p><br>
            <h2>Various kinds of addictions</h2><br>
            <p>Any activity that becomes a destructive habit may be termed an addiction. Even food could become an
                addiction. Shopping is a commonly abused activity. The harm done in these cases will not severely affect
                a person's health.<br>
                Addictions cause dependence. Psychological and physical dependence can be serious. The central nervous
                system suffers. When consumption is stopped, complex withdrawal symptoms occur.
            </p><br>
            <h2>De-addiction primarily means detoxification.</h2><br>
            <p>Toxic substances have entered the physiological and psychological systems of the individual during the
                long years of addiction. The mind, body, soul, and spirit require deep cleansing just like the clothes
                in the washing machine.<br>
                Further, in terms of habits, company, work, and study experiences, individuals suffer lapses. A process
                of re-education and re-training would prepare them for a normal working or study routine. The rehab
                process can take a long duration in severe cases of addiction.<br>
                Lapses may take place during the recovery process with the patient going back to the old drinking habits
                suddenly. Particularly, in severe addiction cases, several such episodes may happen before a normal life
                is possible.<br>
                Along with a variety of treatments, emotional help from family and friends can render strong support.
            </p>
        </div>
    </main>

    <div class="heading">
        <h1>Watch online videos about De-addiction Counselling and Therapy </h1>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/npsKrS9_M5k"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/hYJd7VQ7Mdg"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/VlCOoz0Bllo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/tDa54oJeJHU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/-NiZW-mYQ2w"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="card">
            <div class="card-video">
                <iframe width="350" height="350" src="https://www.youtube.com/embed/NYpS0BFm4I0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>