*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container{
    padding: 50px 30px;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: 800;
    text-justify: distribute;
}

p{
    margin: 20px auto;
    font-size: 20px;
    text-align: justify;
}