<section class="page">

    <div class="hero">
    </div>
    <main>
        <div class="content">
            <h1>Stress Management Counselling</h1><br>
            <h2>What is Stress? What causes stress?</h2><br>
            <p>Stress has become a common word, just like cold or fever. It is hard to define what exactly stress means but we all feel stressed. When was the last time you said, it is so stressful or I am under stress. Stress has become part of our daily life. There are just a few days when we relax. If there is an exam tomorrow, we feel stressed, if you are going for an interview, you feel stressed. This is the feeling you have when you are stressed. A mixture of fear and pressure comes out as stress. 
            </p><br>
            <p>There are many causes of stress. Almost anytime you feel under pressure and overloaded, stress joins in you. Still, here are some of the causes.</p>
            <ul>
                <li>If you are encountering any change in life.</li>
                <li>Overthinking is another cause of stress.</li>
                <li>Having too much pressure about something.</li>
                <li>Worrying can also cause stress.</li>
                <li>Thinking of situations whose output is not known.</li>
                <li>Too much workload can also add up to stress.</li>
            </ul><br>
            <h2>Signs that you are under stress</h2><br>
            <p>Signs of stress are quite visible and felt as well. It is not difficult to identify if someone is stressed or not. We will here tell you some of the very relevant signs of stress.</p>
            <ul>
                <li>If you are very nervous, scared, or afraid while doing something or are about to do something.</li>
                <li>A lot of thoughts come to you and you cannot control them or stop them.</li>
                <li>If you feel like being overburdened</li>
                <li>You find yourself aggressive, impatient, and feel irritated.</li>
                <li>Feeling depressed or sensing any attack.</li>
                <li>Shaking of legs or feeling anxious.</li>
            </ul><br>
            <h2>How can you cope up with stress ?</h2><br>
            <p>Stress is not difficult to handle, you just need the mindset to do so. Stress is common but still, if it is left ignored, it can take the face of some potential chronic illness like a panic attack. Hence coping up with stress and handling it is very necessary. Here are some of the best ways to handle stress. </p>
            <ol>
                <li>Exercise and yoga</li>
                <li>Deep breathing </li>
                <li>Counselling</li>
                <li>Speaking out what is in the mind</li>
                <li>Medication</li>
            </ol><br>
            <h2>Can online counseling help you manage your stress?</h2><br>
            <p>If you doubt whether online counselling can help you manage your stress or not then we will provide you with the answer. Online counselling can help you in managing stress and keeping it at an edge. Moreover, if you witness any signs of stress then you should not take it lightly and immediately see the help of an online counsellor. </p>
            <p>Online counselling has become as effective as any conventional method of counselling. As lockdown came, online counselling became very popular. There are many reasons why people these days have started taking online sessions. </p>
            <ul>
                <li>The identity of the client is kept anonymous and the session is also private.</li>
                <li>It saves you from social embarrassment and you can attend the online session from anywhere you want.</li>
                <li>You can talk to your therapist either on call, message, or also on a video call.</li>
            </ul>
        </div>
    </main>

<div class="heading">
    <h1>Watch online videos about Stress Management </h1>
</div>
<div class="card-container">
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/QZaQikM6M_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/Bk2-dKH2Ta4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/XfSvcIQQT3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/3JA4FgTXuFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/kZeyGfCd1u0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-video">
            <iframe width="350" height="350" src="https://www.youtube.com/embed/tXt--rTkt_Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
</section>